@import "../mixins";

.hero-image {
  width: 100vw;
  object-fit: cover;
  object-position: center;
  margin-block-start: 2rem;
  margin-block-end: 4rem;
  max-width: 1280px;

  @include screen-md-up {
    height: 260px;
    margin-block-start: 0;
    margin-block-end: 2rem;
  }
}

.content {
  --heading-margin-block-start: 4rem;

  hr {
    margin-block-end: 3rem;
    margin-block-start: 3rem;
  }

  img {
    display: block;
    max-width: 100%;
  }

  :is(h1, h2, h3, h4, h5, h6) > a[aria-hidden] {
    margin-inline-end: 5px;
  }
}

.header {
  margin-block-end: 2rem;

  @include screen-md-up {
    margin-block-end: 3rem;
  }
}

.title {
  // color: var(--color-dark-blue);
  // font-size: var(--heading-3-size);
  margin-block-start: 0;
}

.metadata-row {
  // TODO: extract this border gradient to a mixin
  border-block-start: 5px solid;
  border-image-slice: 1;
  // border-image-source: var(--gradient-blue-red);
  border-image-source: var(--theme-metadata-gradient);
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 0.5rem;
  padding-block-start: 0.6rem;
}

.publish-date {
  color: var(--theme-text-muted);
  margin: 0;
  margin-inline-end: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}
