@import "../mixins";

.sr-only {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.header {
  --border-size: 0;

  background-color: var(--theme-red);
  font-size: 1.125rem;
  line-height: 1rem;
  margin-bottom: 2rem;
  z-index: 50;
  position: relative;

  @include screen-md-up {
    --border-size: 31px;
    margin-bottom: calc(2rem + var(--border-size));
  }

  &:after {
    // https://codepen.io/yoksel/pen/MWKeKK
    background-image: var(--header-separator-spikes);
    content: "";
    bottom: calc(1px - var(--border-size));
    height: var(--border-size);
    left: 0;
    position: absolute;
    right: 0;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: relative;
  width: 100%;

  @include screen-md-up {
    flex-wrap: nowrap;
    font-size: 1.2rem;
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  flex: none;
}

.logo-img {
  height: auto;
  max-width: 6rem;
}

.links-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;

  @include screen-sm-up {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
    padding-left: 1.25rem;
  }

  > a {
    color: var(--color-white);
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;

    &.active {
      color: var(--color-yellow);
    }
  }
}
