@import "../mixins";

.hero {
  padding-bottom: 2rem;

  @include screen-lg-up {
    padding-bottom: 5rem;
  }
}

.title {
  color: var(--theme-white);
  font-size: var(--heading-hero);
  font-weight: 700;
  line-height: 1.4;
  text-transform: none;
}

.hero-alt {
  padding-bottom: 3rem;

  @include screen-lg-up {
    padding-bottom: 5rem;
  }
}

.title-alt {
  font-size: var(--heading-hero);
  font-weight: 700;
  line-height: 1.4;
  text-transform: none;
}

.gradient-text {
  background-image: var(--gradient-red-blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
