@import "../base/mixins";

.hero,
.hero-alt {
  padding-block-end: 2rem;

  @include screen-lg-up {
    padding-block-end: 5rem;
  }

  p {
    margin-block: 0;
  }
}

.hero .title {
  color: var(--color-white);
  font-size: var(--heading-hero);
  font-weight: 700;
  line-height: 1.4;
  text-transform: none;
}

.hero-alt .title {
  font-size: var(--heading-hero);
  font-weight: 700;
  line-height: 1.4;
  text-transform: none;
}

.gradient-text {
  background-image: var(--gradient-red-purple-x);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wave {
  display: inline-block;
  transform-origin: bottom right;

  @media (prefers-reduced-motion: no-preference) {
    animation: wave 750ms ease-in-out;
    animation-iteration-count: 2;
    animation-delay: 1s;
  }
}

@keyframes wave {
  50% {
    transform: rotate(30deg);
  }
}
