@import "../mixins";

.hero {
  padding-block-end: 2rem;

  @include screen-lg-up {
    padding-block-end: 5rem;
  }

  p {
    margin-block: 0;
  }
}

.title {
  color: var(--color-white);
  font-size: var(--heading-hero);
  font-weight: 700;
  line-height: 1.4;
  text-transform: none;
}

.gradient-text {
  background-image: var(--gradient-red-blue-x);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
