@import "./fonts";
@import "./mixins";
@import "./properties";

/* reset styles */
* {
  box-sizing: border-box;
}

html {
  font-size: 120%;
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  font-family: var(--font-body);
  font-weight: 600;
  font-size: var(--text-body-size);
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: var(--color-black);
  background-color: var(--color-yellow);
}

p {
  margin-block-end: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-heading);
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: var(--heading-line-height);
  margin-block-end: var(--heading-margin-block-end);
  margin-block-start: var(--heading-margin-block-start);
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: var(--heading-1);
}

h2,
.h2 {
  font-size: var(--heading-2);
}

h3,
.h3 {
  font-size: var(--heading-3);
}

h4,
.h4 {
  font-size: var(--heading-4);
}

h5,
.h5 {
  font-size: var(--heading-5);
}

h6,
.h6 {
  font-size: var(--heading-6);
}

small,
.text-small {
  font-size: var(--text-small-size);
}

code {
  background-color: var(--theme-code-bg);
  border-radius: 5px;
  font-family: var(--font-code);
  font-feature-settings: "liga" on, "calt" on;
  font-weight: 400;
  font-size: calc(var(--text-body-size) - 20%);
  max-width: 100%;
  padding: 0.1rem 0.25rem;
  text-rendering: optimizeLegibility;
}

pre {
  border-radius: 5px;
  padding-block-end: 1rem;
  padding-block-start: 1rem;
}

pre > code {
  background-color: transparent;
}

.text-em {
  font-style: italic;
}

a {
  color: var(--theme-link);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 8px;
}

a :where(h1, h2, h3, h4, h5, h6) {
  color: var(--theme-link);
}

blockquote {
  border-left: 4px solid var(--theme-divider);
  padding: 0 0 0 1rem;
  margin: 0 0 1rem 0;
}

li {
  margin-bottom: 0.5rem;
}
