@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 130%;
  }

  body {
    background-color: var(--js-theme-bg);
    color: var(--js-theme-text);
    font-family: var(--js-font-body);
    font-weight: 600;
    font-size: var(--js-text-body-size);
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    color: var(--js-color-black);
    background-color: var(--js-color-yellow);
  }

  p {
    margin-block-start: 0;
    margin-block-end: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--js-theme-heading);
    font-family: var(--js-font-heading);
    font-weight: 500;
    line-height: var(--js-heading-line-height);
    margin-block-end: var(--js-heading-margin-block-end);
    margin-block-start: var(--js-heading-margin-block-start);
    text-transform: uppercase;
  }

  h1,
  .h1 {
    font-size: var(--js-heading-1);
  }

  h2,
  .h2 {
    font-size: var(--js-heading-2);
  }

  h3,
  .h3 {
    font-size: var(--js-heading-3);
  }

  h4,
  .h4 {
    font-size: var(--js-heading-4);
  }

  h5,
  .h5 {
    font-size: var(--js-heading-5);
  }

  h6,
  .h6 {
    font-size: var(--js-heading-6);
  }

  small,
  .text-small {
    font-size: var(--js-text-small);
  }

  code {
    background-color: var(--js-theme-code-bg);
    border-radius: 5px;
    font-family: var(--js-font-code);
    font-feature-settings:
      "liga" on,
      "calt" on;
    font-weight: 400;
    font-size: calc(var(--js-text-body-size) - 20%);
    max-width: 100%;
    padding: 0.1rem 0.25rem;
    text-rendering: optimizelegibility;
  }

  pre {
    border-radius: 5px;
    padding-block-end: 1rem;
    padding-block-start: 1rem;
    max-width: 100%;
  }

  pre > code {
    background-color: transparent;
  }

  .text-em {
    font-style: italic;
  }

  a {
    color: var(--js-theme-link);
    font-weight: 700;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 8px;
  }

  a :where(h1, h2, h3, h4, h5, h6) {
    color: var(--js-theme-link);
  }

  blockquote {
    border-left: 4px solid var(--js-theme-divider);
    padding: 0 0 0 1rem;
    margin: 0 0 1rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
