---
// components
import MainLayout from "../layouts/Main.astro";

// javascript
let title = "About Joseph Shambrook";
let description =
  "My general life story, including my work experience, projects I have been a part of, and what I enjoy doing.";
let permalink = "https://josephshambrook.dev/bio";
---

<MainLayout title={title} description={description} permalink={permalink}>
  <div slot="content-header" class="intro">
    <h1 class="title">You found a dead end!</h1>
  </div>
  <!-- <div slot="aside"></div> -->

  <div slot="main">
    <p>Sorry, nothing to see here.</p>
  </div>

  <div slot="aside"></div>
</MainLayout>

<style lang="scss">
  .title {
    font-size: var(--js-heading-hero);

    // make margin equal on both sides
    margin-block-start: var(--js-heading-margin-block-end);
    margin-block-end: 0;
  }
</style>
