---
// dependencies
import { Image } from "@astrojs/image/components";

// components
import MainLayout from "../layouts/Main.astro";

// images
// this image is bundled within src to allow optimisations
// https://docs.astro.build/en/guides/integrations-guide/image/#images-in-public
import meImg from "@images-bundled/me-jp.jpg";

// javascript
let title = "About Joseph Shambrook";
let description =
  "My general life story, including my work experience, projects I have been a part of, and what I enjoy doing.";
let permalink = "https://josephshambrook.dev/bio";

// yes I pulled this from Stack Overflow
function calculateAge(birthday: number) {
  var ageDifMs = Date.now() - birthday;
  var ageDate = new Date(ageDifMs);
  return Math.abs(ageDate.getUTCFullYear() - 1970);
}

const daughterBirthday = new Date(2019, 6, 19).valueOf();
const daughterAge = calculateAge(daughterBirthday);
---

<MainLayout title={title} description={description} permalink={permalink}>
  <div slot="content-header" class="intro">
    <h1 class="title">All about <span class="text-gradient">me</span></h1>
    <Image
      src={meImg}
      class="rounded-img"
      width={300}
      height={300}
      format="avif"
      alt="Me in Japan back in 2018"
    />
  </div>
  <!-- <div slot="aside"></div> -->

  <div slot="main">
    <section class="career">
      <h2>The <span class="text-gradient">career</span> stuff</h2>

      <p>
        I started working as a front-end developer in 2011, after completing an
        introductory course in London. I've worked for a variety of employers,
        from a start-up building and launching their product, to one of the big
        four financial institutions, where I worked on the development of a
        complex product used by millions of people.
      </p>

      <p>
        Alongside my technical work, I'm passionate about supporting colleagues.
        I have presented several lunch and learn talks, lightning talks, and
        written and delivered interactive workshops. I actively mentor and coach
        colleagues in their own journeys, and find supporting others hugely
        rewarding. I have taken on other supporting roles, such as being a
        mental health advocate, and teaching young girls beginner skills in HTML
        and CSS.
      </p>

      <p>
        In 2021, I was promoted to a senior position, thus demonstrating my
        progress over my career. I aim to continue this trajectory as I take on
        more challenging roles and create products I am proud to be a part of.
      </p>
    </section>

    <section class="tech">
      <h2>The <span class="text-gradient">tech</span> stuff</h2>

      <p>
        During my career I have developed experience in working with an
        extensive range of technologies. These are some of the most notable
        technologies I have worked with:
      </p>

      <ul>
        <li>
          <strong>JavaScript</strong> and <strong>TypeScript</strong>, including
          but not limited to:
        </li>

        <ul>
          <li>
            <strong>React</strong>, including a wide range of React plugins for
            features like routing and state management
          </li>
          <li>
            SSR frameworks, such as <strong>Next.js</strong> and <strong
              >Gatsby</strong
            >
          </li>
          <li>
            SSG frameworks, such as <strong>Astro</strong> (which this very
            website uses!)
          </li>
          <li>
            Other popular frameworks, such as <strong>Svelte</strong> and <strong
              >Angular.js</strong
            >
          </li>
          <li><strong>jQuery</strong></li>
        </ul>

        <li>
          <strong>CSS</strong>:
        </li>

        <ul>
          <li>
            <strong>CSS-in-JS</strong> tools, such as <strong
              >Styled Components</strong
            >
          </li>
          <li>
            Pre-processors, such as <strong>SCSS</strong> and <strong
              >LESS</strong
            >
          </li>
          <li>Post-processors, such as <strong>PostCSS</strong></li>
          <li>
            Utilising tools like <strong>Bootstrap</strong> and <strong
              >Tailwind</strong
            >
          </li>
        </ul>

        <li><strong>Testing</strong>:</li>

        <ul>
          <li>
            Unit testing, particularly with <strong>Jest</strong> and tools like

            <strong>React Testing Library</strong> and <strong>Enzyme</strong>
          </li>
          <li>
            Integration and e2e tests, particularly with <strong>Cypress</strong
            >
          </li>
        </ul>

        <li>Node.js RESTful APIs</li>
      </ul>

      <p>
        There are also a wide range of technologies I have tried out in my spare
        time, from using Django to write an RSVP website for my wedding, to
        trying out Swift and Swift UI to build a quick iOS app.
      </p>
    </section>

    <section class="personal">
      <h2>The <span class="text-gradient">personal</span> stuff</h2>

      <p>
        I currently live in Edinburgh, with my wife and our {
          daughterAge
        }-year-old daughter. I'm originally from Hornchurch, a town on the
        outskirts of London, but always had an ambition to move northwards.
      </p>

      <p>
        I have a huge passion for sports – I've supported West Ham since I was a
        child, and I also play 5-a-side with a group of friends each week. I
        currently run once a week, with the aim of completing a 10k.
      </p>

      <p>
        Outside of sport, I spend a great deal of time managing my finances. I
        love helping others with this, and over the years I've developed some
        great tips and tricks for saving money – between looking after a house
        and a child, these have come in very handy!
      </p>
    </section>
  </div>

  <div slot="aside"></div>
</MainLayout>

<style lang="scss">
  @import "../styles/base/mixins";

  .title {
    font-size: var(--js-heading-hero);

    // make margin equal on both sides
    margin-block-start: var(--js-heading-margin-block-end);
  }

  .rounded-img {
    border-radius: 50%;
  }

  .intro {
    align-items: center;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1rem;

    > .title {
      flex: 1;
    }
  }

  @include screen-md-up {
    .intro {
      align-items: center;
      display: flex;
      min-height: 230px;
      margin-block-end: 2rem;

      > .title {
        margin-bottom: 0;
      }
    }
  }

  .text-gradient {
    background: var(--js-component-heading-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  section:not(:first-of-type) {
    --js-heading-margin-block-start: 4rem;
  }
</style>
