---
// Component Imports
import HomeLayout from "@layouts/Home.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";
import Spotify from "@components/Spotify.svelte";

// lists all Markdown posts in the repo
let allPosts = await Astro.glob("./posts/**/*.md");

// sort the posts in order of publish date, and limit to top 3
allPosts = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )
  .slice(0, 3);
---

<HomeLayout>
  <div slot="main">
    <h1 class="latest h6">Recent posts</h1>

    <section aria-label="Blog post list">
      {allPosts.map((p) => <BlogPostPreview post={p} />)}
    </section>
  </div>

  <div slot="aside">
    <h2 class="spotify-title">Recent top tunes</h2>
    <Spotify client:load />
  </div>
</HomeLayout>

<style>
  .spotify-title {
    font-size: var(--heading-6);
    line-height: var(--heading-line-height);
  }
</style>
