---
// Component Imports
import MainLayout from "../layouts/Main.astro";

let title = "Joseph Shambrook";
let description = "The perfect starter for your perfect blog.";
let permalink = "https://example.com/";
---

<MainLayout>
  <div slot="sidebar">The sidebar</div>
</MainLayout>
