---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import MainLayout from "../layouts/Main.astro";

let title = "Example Blog";
let description = "The perfect starter for your perfect blog.";
let permalink = "https://example.com/";
---

<MainLayout>
  <div slot="content">
    <section class="intro">
      <h1 class="latest">{title}</h1>
      <p>{description}</p>
    </section>
  </div>
  <div slot="sidebar">The sidebar</div>
</MainLayout>
