---
// Component Imports
import MainLayout from "../layouts/Main.astro";

let title = "Joseph Shambrook";
let description = "The perfect starter for your perfect blog.";
let permalink = "https://example.com/";
---

<MainLayout>
  <div slot="main">
    <section class="">
      <h2>Hero goes here</h2>
    </section>

    <section class="latest-posts">
      <h2>Latest posts here</h2>
    </section>
  </div>
</MainLayout>
