---
// Component Imports
import MainLayout from "../layouts/Main.astro";
---

<MainLayout>
  <div slot="main">
    <p>Hello early visitor!</p>

    <p>
      This site is very much a work in progress - you can track its progress
      <a href="https://github.com/josephshambrook/js-2023"
        >right here on GitHub</a
      >.
    </p>
    <!-- <section class="">
      <h2>Hero goes here</h2>
    </section>

    <section class="latest-posts">
      <h2>Latest posts here</h2>
    </section> -->
  </div>
</MainLayout>
