---
// Component Imports
import BlogPostsLayout from "@layouts/BlogPosts.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";

// javascript
let title = "Recent posts";
let description = "The perfect starter for your perfect blog.";
let permalink = "https://josephshambrook.dev/posts";

// lists all Markdown posts in the repo
let allPosts = await Astro.glob("./posts/*.md");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<BlogPostsLayout>
  <div slot="main">
    <h1 class="latest h6">{title}</h1>

    <section aria-label="Blog post list">
      {allPosts.map((p) => <BlogPostPreview post={p} />)}
    </section>
  </div>
</BlogPostsLayout>

<style>
  .latest {
    margin-bottom: 1.6rem;
  }
</style>
