---
// Component Imports
import MainLayout from "../layouts/Main.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";

// javascript
let title = "Latest posts";
let description = "The perfect starter for your perfect blog.";
let permalink = "https://josephshambrook.dev/posts";

// lists all Markdown posts in the repo
let allPosts = await Astro.glob("./posts/*.md");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<MainLayout>
  <div slot="main">
    <section class="intro">
      <h1 class="latest">{title}</h1>
    </section>
    <section aria-label="Blog post list">
      {allPosts.map((p) => <BlogPostPreview post={p} />)}
    </section>
  </div>
</MainLayout>
