---
// Component Imports
import BlogPostsLayout from "@layouts/BlogPosts.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";

// types
import { SiteMetadata } from "@src/types";

// javascript
const pageMetadata: Partial<SiteMetadata> = {
  subtitle: "Recent blog posts",
  description:
    "Blog posts by Joseph Shambrook, a front-end developer based in Edinburgh, UK",
  permalink: "https://josephshambrook.dev/posts",
};

// lists all Markdown posts in the repo
let allPosts = await Astro.glob("./posts/**/*");
allPosts = allPosts
  .filter((post) => {
    // if in development mode, show everything
    if (import.meta.env.DEV) return true;
    // if the draft key is true, filter it out
    return !post.frontmatter.draft ?? false;
  })
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  );
---

<BlogPostsLayout {...pageMetadata}>
  <div slot="main">
    <h1 class="latest h6">Recent posts</h1>

    <section aria-label="Blog post list">
      {allPosts.map((p) => <BlogPostPreview post={p} />)}
    </section>
  </div>
</BlogPostsLayout>

<style>
  .latest {
    margin-block-end: 1.6rem;
  }
</style>
