---
// components
import BlogPostMetadata from "@components/BlogPostMetadata.astro";

// styles
import BlogPostStyles from "@styles/components/BlogPost.module.scss";

export interface Props {
  title: string;
  publishDate: string;
  heroImage: string;
  alt: string;
  tags: string[];
}

const { title, publishDate, heroImage, alt, tags } = Astro.props;
---

<article>
  <main class={BlogPostStyles.content}>
    <slot />
  </main>
</article>
