---
import { formatDate } from "@utils/dateFormat";
import Tag from "./Tag.astro";

export type Props = {
  publishDate: string;
  tags: string[];
};

const { publishDate, tags } = Astro.props;
const prettyPublishDate = formatDate(publishDate);
---

<div class="metadata-row">
  <small class="publish-date">
    Posted on {prettyPublishDate}
  </small>

  {
    tags?.length && (
      <ul class="tags">
        {tags.map((tag) => (
          <>
            <Tag>#{tag}</Tag>
          </>
        ))}
      </ul>
    )
  }
</div>

<style>
  .metadata-row {
    border-block-start: 5px solid;
    border-image-slice: 1;
    border-image-source: var(--js-component-metadata-gradient);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 0.5rem;
    padding-block-start: 0.6rem;
  }

  .publish-date {
    color: var(--js-theme-text-muted);
    margin: 0;
    margin-inline-end: 1rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
  }
</style>
