---
import BlogPostStyles from "@styles/components/BlogPost.module.scss";
import { formatDate } from "@utils/dateFormat";
import Tag from "./Tag.astro";

export type Props = {
  publishDate: string;
  tags: string[];
};

const { publishDate, tags } = Astro.props;
const prettyPublishDate = formatDate(publishDate);
---

<div class={BlogPostStyles["metadata-row"]}>
  <small class={BlogPostStyles["publish-date"]}>
    Posted on {prettyPublishDate}
  </small>

  {
    tags?.length && (
      <ul class={BlogPostStyles.tags}>
        {tags.map((tag) => (
          <>
            <Tag>#{tag}</Tag>
          </>
        ))}
      </ul>
    )
  }
</div>
