---
// dependencies
import cns from "classnames";

// components
import Svg from "@components/Svg.astro";

// styles
import layoutStyles from "@styles/layouts/layout.module.scss";
import headerStyles from "@styles/components/Header.module.scss";

// data
import { SOCIAL_LINKS } from "../constants";

// types
type Props = {
  isTransparent?: boolean;
  hasWaves?: boolean;
};

// props
const { isTransparent = false, hasWaves = true } = Astro.props;
---

<header
  class={cns(headerStyles.header, {
    [headerStyles["is-transparent"]]: isTransparent,
  })}
>
  <a class={headerStyles["skip-link"]} href="#main" target="_self"
    >Skip to main content</a
  >
  <div class={cns(headerStyles.wrapper, layoutStyles.container)}>
    <a class={headerStyles["logo-link"]} href="/">
      <Svg path="logos/svg/logo-on-dark.svg" />
      <span class={headerStyles["sr-only"]}>Homepage</span>
    </a>

    <nav class={headerStyles.nav} aria-label="desktop">
      <div class={headerStyles["links-wrap"]}>
        <a href="/posts">Posts</a>

        <a href="/bio">Bio</a>

        <a href="/uses">Uses</a>

        <a href={SOCIAL_LINKS.github}>
          <Svg path="icons/github.svg" size="32" />
          <span class={headerStyles["sr-only"]}>GitHub</span>
        </a>
      </div>
    </nav>
  </div>

  {
    hasWaves && (
      <div>
        <svg
          class={headerStyles.waves}
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28"
          preserveAspectRatio="none"
          shape-rendering="auto"
        >
          <defs>
            <path
              id="gentle-wave"
              d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
            />
          </defs>
          <g class={headerStyles.layers}>
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="0"
              fill="rgba(255,255,255,1"
            />
          </g>
        </svg>
      </div>
    )
  }
</header>
