---
// dependencies
import cns from "classnames";
import { Icon } from "astro-icon";

// components
import Svg from "@components/Svg.astro";

// styles
import layoutStyles from "@styles/layouts/layout.module.scss";
import headerStyles from "@styles/components/Header.module.scss";

// data
import { SOCIAL_LINKS } from "../constants";

// types
export type Props = {
  isTransparent: boolean;
};

// props
const { isTransparent }: Props = Astro.props;
---

<header
  class={cns(headerStyles.header, {
    [headerStyles["is-transparent"]]: isTransparent,
  })}
>
  <div class={cns(headerStyles.wrapper, layoutStyles.container)}>
    <a class={headerStyles["sr-only"]} href="#maincontent" target="_self"
      >Skip to main content</a
    >

    <a class={headerStyles["logo-link"]} href="/">
      <Svg path="logos/svg/logo-on-dark.svg" />
    </a>

    <nav class={headerStyles.nav}>
      <div class={headerStyles["links-wrap"]}>
        <a href="/posts">Posts</a>

        <a href="/bio">Bio</a>

        <a href={SOCIAL_LINKS.github}>
          <Icon pack="mdi" name="github" />
        </a>

        <a href={SOCIAL_LINKS.twitter}>
          <Icon pack="mdi" name="twitter" />
        </a>
      </div>
    </nav>
  </div>
</header>
