---
import SpotifyList from "./SpotifyList.svelte";
---

<h2 class="spotify-title">Recent top tunes</h2>

<SpotifyList client:load />

<style>
  .spotify-title {
    font-size: var(--js-heading-6);
    line-height: var(--js-heading-line-height);
  }
</style>
