---
import SpotifyList from "./SpotifyList.svelte";
import SpotifyStyles from "@styles/components/Spotify.module.scss";
---

<h2 class={SpotifyStyles["spotify-title"]}>Recent top tunes</h2>

<SpotifyList client:visible />
