---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
console.log("🚀 ~ file: TableOfContents.astro:9 ~ headings:", headings);
---

{
  headings && headings.length > 0 && (
    <nav>
      <h2 class="title">Table of contents</h2>

      <ul>
        {headings.map((heading) => {
          return (
            <li>
              <a href={`#${heading.slug}`}>
                <Fragment set:html={"&nbsp;".repeat(heading.depth - 2)} />
                {/* add slice to remove the extra hash */}
                {heading.text.slice(1)}
              </a>
            </li>
          );
        })}
      </ul>
    </nav>
  )
}

<style lang="scss">
  @import "../styles/base/mixins";

  @include screen-md-up {
    nav {
      max-height: calc(100vh - 4rem);
      overflow-y: auto;
      position: sticky;
      top: 2rem;
    }
  }

  .title {
    font-size: var(--text-body-size);
  }

  ul {
    font-size: var(--text-small);
    list-style-type: none;
    padding-inline-start: 0;
  }

  li {
    margin-block-end: 0;
  }
</style>
