<li class="tag"><slot /></li>

<style>
  .tag {
    background-color: var(--theme-yellow);
    border-radius: 4px;
    color: var(--theme-dark-blue);
    font-size: var(--text-small-size);
    list-style-type: none;
    padding-inline: 0.6rem;
  }
</style>
