---
import layoutStyles from "@styles/layouts/layout.module.scss";
import heroStyles from "@styles/components/Hero.module.scss";
---

<section class={heroStyles["hero-alt"]}>
  <div class={layoutStyles.container}>
    <h1 class={heroStyles["title-alt"]}>
      <span class={heroStyles["gradient-text"]}>Hey</span> 👋
      <br />
      <br />
      <span class={heroStyles["gradient-text"]}>
        I'm Joseph Shambrook, a Front End Developer living in Edinburgh, UK
      </span>
    </h1>
  </div>
</section>
