---
// components
import Header from "@components/Header.astro";
import Footer from "@components/Footer.svelte";
import Hero from "@components/Hero.svelte";

// content
import Base from "./Base.astro";
---

<Base>
  <div class="gradient-bkg">
    <Header isTransparent={true} hasWaves={false} />
    <Hero />
  </div>

  <div class="container grid-12">
    <main class="main" id="main">
      <slot name="main" />
    </main>

    <aside class="aside stack">
      <slot name="aside" />
    </aside>
  </div>

  <Footer />
</Base>

<style lang="postcss">
  @layer components {
    .gradient-bkg {
      background-image: var(--js-component-hero);
      color: white;
      margin-block-end: 3rem;
    }
  }
</style>
